.leaflet-container {
    height: 90vh;
    width: 100%;
  }
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
 
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .static-map {
    width: 250px;
    height: 250px;
  }
  .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top:10px ;
  }
  .locationBtn{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color:#6088a36b;
    color: rgba(46, 38, 116, 0.514);
  }