/* --- TIMELINE SECTION styles --- */
/* this comment is for test */

/* --- CHANGING BUILT IN CSS FOR VERTICAL TIMELINE COMPONENT --- */
.vertical-timeline::before {
    background: rgb(123, 123, 123)
}
.vertical-timeline-element-content {
    background-color: rgb(123, 123, 123);
    color: ghostwhite
}
.vertical-timeline-element-content-arrow {
    border-right: 7px solid  rgb(123, 123, 123);
}
.vertical-timeline-element-content-icon{
    background-color: rgb(123, 123, 123);
    color: ghostwhite
}



/*BUILT IN STYLE EDIT ENDS */ 

.vertical-timeline-element-subtitle {
    font-size: 1.5rem;
    color:rgb(75, 60, 60)
}

.vertical-timeline-element--work:nth-child(odd){
    text-align: right;
}

span.vertical-timeline-element-icon{
    background-color: rgb(123, 123, 123);
}

.timeline-img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    transition: 1s;
}
.timeline-img:hover{
    filter: none;
    -webkit-filter: grayscale(0%); 
    transition: 1s;
}
.event-btn, .like-btn {
    margin: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    color: rgb(123, 123, 123)
}
.event-btn:hover,
.like-btn:hover {
    color: rgb(74, 14, 14);
    transition: 0.5s;
    box-shadow: 0 0.5em 0.5em -0.4em  #fffaf7;
    transform: translateY(-0.25em);
}

@media only screen and (max-width: 1169px) {
    .vertical-timeline-element--work:nth-child(odd){
        text-align: left;
    }
    .timeline-img {
        height: 500px
    }
}