html {
  box-sizing: border-box;
 }

.links{
    position: fixed;
    height: 100%;
    top: 25%;
    right: 1%;
    gap: 60px;
    z-index: 999

}
.link-icon{
    display: block;
    height: 40px;
    padding: 15px;
    margin: 20px 0; 
    color: rgb(209, 209, 216);
}
.link-icon:hover{
  color: #9e9b9b;
  transition: .5s;
}
