.title{
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    width: 40%;    ;
    color: ghostwhite;
    font-size: 3rem;
}
.titleInfo{
    margin: 40px auto;
    width: 5    0%;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    color: ghostwhite
}
